<!-- Header -->
<header class="landing-header">
    <div class="container">
        <div class="landing-header-inner">
            <div class="landing-header-logo">
                <img src="/static/img/OJC-logo.svg" class="mini-logo"
                     alt="Open Journal Collection logo">
                <span class="landing-header-logo-text">Open<br>Journals<br>Collective</span>
            </div>
            <nav class="landing-nav" id="landing-nav">
                <div class="landing-nav-dropdown">
                    <a href="/#who-we-are" class="landing-nav-link" aria-haspopup="true" aria-expanded="false">About OJC</a>
                    <div class="landing-nav-dropdown-menu">
                        <a href="/#who-we-are" class="landing-dropdown-item">About us</a>
                        <a href="/#team" class="landing-dropdown-item">Our team</a>
                        <a href="/#members" class="landing-dropdown-item">Our members</a>
                        <a href="/#manifesto" class="landing-dropdown-item">Our Manifesto</a>
                        <a href="/#model" class="landing-dropdown-item">Our model</a>
                        <a href="mailto:info@openjournalscollective.org?subject=Open Journals Collective"
                           class="btn-get-involved landing-dropdown-cta">GET INVOLVED</a>
                    </div>
                </div>
                <a href="/#how-it-works" class="landing-nav-link">How it works</a>
                <a href="/catalogue/" class="landing-nav-link">Our Journals</a>
                <a href="/#start-here" class="landing-nav-link">Start here</a>
                <a href="/#news" class="landing-nav-link">News &amp; updates</a>
            </nav>
            <div class="landing-header-actions">
                <a href="mailto:info@openjournalscollective.org?subject=Open Journals Collective"
                   class="btn-get-involved">GET INVOLVED</a>
                <div class="menu-icon-landing" id="menu-toggle"
                     role="button" tabindex="0" aria-label="Toggle menu" aria-expanded="false">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Fullscreen Navigation (mobile) -->
<div class="fullscreen-nav" id="fullscreen-nav" aria-hidden="true">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="/static/img/ojc-nav-logo.svg" class="mini-logo"
                     alt="Open Journal Collection logo">
            </div>
            <div class="logo-text col-8 spectral-bold">
                <span class="site-header-text">
                    Open Journals Collective
                </span>
            </div>
            <div class="close-icon col-1" id="close-nav" role="button" tabindex="0" aria-label="Close menu">&times;</div>
        </div>
        <div class="nav-content">
            <div class="nav-links">
                <a href="/#who-we-are" class="nav-link">About OJC.</a>
                <a href="/#how-it-works" class="nav-link">How it works.</a>
                <a href="/catalogue/" class="nav-link">Our Journals.</a>
                <a href="/#start-here" class="nav-link">Start here.</a>
                <a href="/#news" class="nav-link">News &amp; updates.</a>
            </div>
            <div class="nav-cta">
                <a target="_blank" rel="noopener"
                   href="mailto:info@openjournalscollective.org?subject=Open Journals Collective"
                   class="nav-btn">GET INVOLVED</a>
            </div>
        </div>
    </div>
</div>
