{% extends "base.html" %}

{% block title %}{{ page.name }} — Open Journals Collective{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="/static/css/our-members.css">
{% endblock %}

{% block content %}
{% for bd in blocks %}{% include bd.template with block=bd.block columns=bd.columns tables=bd.tables num_columns=bd.num_columns col_width_pct=bd.col_width_pct quotes=bd.quotes institutions=bd.institutions people=bd.people org_quotes=bd.org_quotes %}{% endfor %}
{% endblock %}
