SECRET_KEY=change-me-generate-with-python-secrets-token-urlsafe-50
POSTGRES_PASSWORD=change-me-generate-with-python-secrets-token-urlsafe-32
DEFAULT_FROM_EMAIL=noreply@ojc.janeway.systems
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
