{% if settings.show_bottom_carousel and bottom_quotes %}
<section class="members-quote-section members-quote-bottom" style="background-color: {{ settings.bottom_carousel_bg_color }}; color: {{ settings.bottom_carousel_text_color }};" aria-label="More member quotes">
    <div class="members-glide-bottom">
        <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides">
                {% for quote in bottom_quotes %}
                <li class="glide__slide">
                    <div class="container">
                        <div class="row">
                            <div class="col-3">
                                {% if quote.image %}
                                <img src="{{ quote.image.url }}"
                                     alt="{{ quote.author_name }}"
                                     class="members-quote-photo">
                                {% else %}
                                <img src="/static/img/member-placeholder.svg"
                                     alt="{{ quote.author_name }}"
                                     class="members-quote-photo">
                                {% endif %}
                            </div>
                            <div class="col-9">
                                <div class="quote-content" style="border-left-color: {{ settings.bottom_carousel_text_color }};">
                                    <div class="quote-text spectral-bold" style="color: inherit;">{{ quote.quote_text|safe }}</div>
                                    <p class="quote-author" style="color: inherit;">{{ quote.author_name }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% if bottom_quotes|length > 1 %}
        <div class="glide__bullets pagination" data-glide-el="controls[nav]">
            {% for quote in bottom_quotes %}
            <button class="glide__bullet" data-glide-dir="={{ forloop.counter0 }}" aria-label="Go to slide {{ forloop.counter }}"></button>
            {% endfor %}
        </div>
        {% endif %}
    </div>

    <script>
        new Glide('.members-glide-bottom', { type: 'slider' }).mount();
    </script>
</section>
{% endif %}
