<div class="audience-buttons" id="audience-buttons">
    <a
            class="audience-btn academics"
            role="button"
            tabindex="0"
            hx-get="/partial/how-it-works-1.html"
            hx-trigger="click"
            hx-target="#how-it-works-switch"
            data-focus-id="academics"
    >For Academics</a>

    <a
            class="audience-btn librarians"
            role="button"
            tabindex="0"
            hx-get="/partial/how-it-works-2.html"
            hx-trigger="click"
            hx-target="#how-it-works-switch"
            data-focus-id="libraries"
    >For Librarians</a>

    <a
            class="audience-btn audience-btn-primary-pink"
            role="button"
            tabindex="0"
            hx-get="/partial/how-it-works-3.html"
            hx-trigger="click"
            hx-target="#how-it-works-switch"
            data-focus-id="publishers"
    >For Publishers</a>
</div>

<div class="col-12">
    <div class="content-wrapper">
        <div class="image-container">
            <img src="/static/img/home-how-it-works-3.jpg"
                 alt="A person reading in front of a bookshelf" class="how-it-works-image">
        </div>

        <div class="features-column">
            <div class="feature-row feature-row-pink">
                <div class="icon-container">
                    <img src="/static/img/home-how-it-works-3-row-1.svg" alt="Image symbolising a income and investment"/>
                </div>
                <div class="feature-content">
                    <span class="feature-title">01. We raise investment</span>
                    <span class="feature-description"> from libraries, funders, and consortia to sustain and grow open access journal publishing.</span>
                </div>
            </div>
            <div class="feature-row feature-row-grey">
                <div class="icon-container">
                    <img src="/static/img/home-how-it-works-3-row-2.svg" alt="Image symbolising empowerment"/>
                </div>
                <div class="feature-content">
                    <span class="feature-title">02. We empower journals</span>
                    <span class="feature-description">  to flip from subscription and hybrid models to diamond open access, securing a sustainable future for equitable publishing.</span>
                </div>
            </div>
            <div class="feature-row feature-row-pink-last">
                <div class="icon-container">
                    <img src="/static/img/home-how-it-works-3-row-3.svg" alt="Image symbolising voice"/>
                </div>
                <div class="feature-content">
                    <span class="feature-title">03. We create a powerful collective voice</span>
                    <span class="feature-description"> for university-based publishers, defending academic integrity and standing up to for-profit global publishers.</span>
                </div>
            </div>
        </div>
    </div>
</div>