<div class="audience-buttons" id="audience-buttons">
    <a
            class="audience-btn audience-btn-primary academics"
            role="button"
            tabindex="0"
            hx-get="/partial/how-it-works-1.html"
            hx-trigger="click"
            hx-target="#how-it-works-switch"
            data-focus-id="academics"
    >For Academics</a>

    <a
            class="audience-btn librarians"
            role="button"
            tabindex="0"
            hx-get="/partial/how-it-works-2.html"
            hx-trigger="click"
            hx-target="#how-it-works-switch"
            data-focus-id="libraries"
    >For Librarians</a>

    <a
            class="audience-btn publishers"
            role="button"
            tabindex="0"
            hx-get="/partial/how-it-works-3.html"
            hx-trigger="click"
            hx-target="#how-it-works-switch"
            data-focus-id="publishers"
    >For Publishers</a>
</div>

<div class="col-12">
    <div class="content-wrapper">
        <div class="image-container">
            <img src="/static/img/home-how-it-works.jpg"
                 alt="Person with glasses" class="how-it-works-image">
        </div>

        <div class="features-column">
            <div class="feature-row feature-row-cyan">
                <div class="icon-container">
                    <img src="/static/img/home-how-it-works-1-row-1.svg"
                         alt="Image symbolising a working together"/>
                </div>
                <div class="feature-content">
                    <span class="feature-title">01. We work with university-based publishers</span>
                    <span class="feature-description"> to make your favourite academic journals free to read and free to publish in.</span>
                </div>
            </div>

            <div class="feature-row feature-row-grey">
                <div class="icon-container">
                    <img src="/static/img/home-how-it-works-1-row-2.svg"
                         alt="Image symbolising investment rising"/>
                </div>
                <div class="feature-content">
                    <span class="feature-title">02. We raise investment from libraries, funders, and consortia</span>
                    <span class="feature-description"> to ensure that cutting-edge research is available to everyone without any paywalls.</span>
                </div>
            </div>

            <div class="feature-row feature-row-cyan-last">
                <div class="icon-container">
                    <img src="/static/img/home-how-it-works-1-row-3.svg"
                         alt="Image symbolising a protection"/>
                </div>
                <div class="feature-content">
                    <span class="feature-title">03. We protect against the commercialisation</span>
                    <span class="feature-description"> of academic journals by strengthening collaboration between university-based publishers.</span>
                </div>
            </div>
        </div>
    </div>
</div>
