<div class="audience-buttons" id="audience-buttons">
    <a
            class="audience-btn academics"
            role="button"
            tabindex="0"
            hx-get="/partial/how-it-works-1.html"
            hx-trigger="click"
            hx-target="#how-it-works-switch"
            data-focus-id="academics"
    >For Academics</a>

    <a
            class="audience-btn audience-btn-primary-yellow"
            role="button"
            tabindex="0"
            hx-get="/partial/how-it-works-2.html"
            hx-trigger="click"
            hx-target="#how-it-works-switch"
            data-focus-id="libraries"
    >For Librarians</a>

    <a
            class="audience-btn publishers"
            role="button"
            tabindex="0"
            hx-get="/partial/how-it-works-3.html"
            hx-trigger="click"
            hx-target="#how-it-works-switch"
            data-focus-id="publishers"
    >For Publishers</a>
</div>


<div class="col-12">
    <div class="content-wrapper">
        <div class="image-container">
            <img src="/static/img/home-how-it-works-2.jpg"
                 alt="A hand reaching out for books" class="how-it-works-image">
        </div>

        <div class="features-column">
            <div class="feature-row feature-row-yellow">
                <div class="icon-container">
                    <img src="/static/img/home-how-it-works-2-row-1.svg" alt="Image symbolising a viable alternative with arrows pointing either way"/>
                </div>
                <div class="feature-content">
                    <span class="feature-title">01. We offer a viable alternative</span>
                    <span class="feature-description"> to commercial Transformative Agreements, giving back control to academic communities and their libraries.</span>
                </div>
            </div>
            <div class="feature-row feature-row-grey">
                <div class="icon-container">
                    <img src="/static/img/home-how-it-works-2-row-2.svg" alt="Image symbolising giving back"/>
                </div>
                <div class="feature-content">
                    <span class="feature-title">02. We flip high-quality journals</span>
                    <span class="feature-description"> into our collections, ensuring an equitable and scalable transition to diamond open access.</span>
                </div>
            </div>
            <div class="feature-row feature-row-yellow-last">
                <div class="icon-container">
                    <img src="/static/img/home-how-it-works-2-row-3.svg" alt="Image symbolising networking"/>
                </div>
                <div class="feature-content">
                    <span class="feature-title">03. We leverage our academic networks</span>
                    <span class="feature-description"> to move journals away from commercial publishing models and deliver savings for library budgets.</span>
                </div>
            </div>
        </div>
    </div>
</div>